body {
    background-color: rgba(209, 209, 159, 0.3);
}

h1 {
    color:rgb(223, 2, 2);

}
/* Selektor klasy */
.first-paragraph {
    color: rgb(180, 105, 105);
}

/* Kaskadowosc */
p {
color:rgb(158, 158, 45);
}
h3{
    color:#3d0505
}
.red{
    color: red;
}
.blue{
    color: blue;
}
.green{
    color: greenyellow;
}
.yellow{
    color: yellowgreen;
}
.purple{
    color: purple;
}